<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.DevAsh.recwallet">

    <uses-feature
        android:name="android.hardware.fingerprint"
        android:required="false" />

    <application>

        <activity
            android:name="com.DevAsh.recwallet.rBusiness.SplashScreen"
            android:screenOrientation="portrait"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".rBusiness.Home.HomePage"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.DevAsh.recbusiness.Registration.Otp"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.DevAsh.recbusiness.Registration.Login"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="com.DevAsh.recbusiness.Registration.Register"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />


        <activity
            android:name=".rBusiness.Home.DisplayQrcode"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="com.DevAsh.recbusiness.Home.Profile"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Home.SelectLogo"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />


        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>